<h1>New Question</h1>

  <%= form_for @request do |f| %>
  <div class="field">
    <p> <%= f.label :question  %> </P>
    <%= f.text_area :question %>
  </div>

  <div class="image_upload">
    <%= f.label :image  %>
    <%= f.file_field :image, :class => 'image_upload' %>
  </div>

  <div class="submit">
    <%= f.submit 'submit', :class => 'submit'%>
  </div>

  <% end %>
