

  <%= form_for ([@request,@response]) do |f| %>

    <div class="image">
    <%= image_tag @request.image  %>
    </div>

    <div class="response">
      <div class="question">
        <%= @request.question  %>
      </div>


      <% @request.choices.each do |choice| %>
      <div class="choice">
        <%= radio_button_tag(:choice_id, "#{choice.id}") %>
        <%= label_tag(:choice_id, "#{choice.choice_text}") %>
      </div>
      <% end %>

      <div class="comment">
        <%= f.label :comment %>
        <%= f.text_field :comment %>
      </div>


      <%= f.submit 'submit', :class => "submit" %>

    </div>

  <% end %>
