<!DOCTYPE html>
<html>
  <head>
    <title>Feedbapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="logo">
      <h1>FeedBapp</h1>
      <p id = "subtittle">* Ask about design </p>
    </div>
    <div class="navbar">
      <%= link_to 'Home', requests_url %>
      <% if current_user %>
      <div class="profile">
        <%= link_to "#{current_user.first_name}", user_path(current_user) %>
      </div>
      <div class="create_request">
        <%= link_to "Create Question", new_request_path %>
      </div>
      <% else %>
      <div class="user_option">
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Login",  new_session_path %>
        </div>
      <% end %>
    </div>
  </header>

  <body>
    <main>

    <%= yield %>

    </main>
  </body>
</html>
